
<app-mapas [mostrarBusqueda]="true" (marcadorSeleccionado)="recibirMarcador($event)"></app-mapas>
<label for="name" class="block font-bold mb-2">Nombre de la sala:</label>
<input
  type="text"
  id="name"
  [(ngModel)]="nombreSala"
  name="name"
  placeholder="Introduce el nombre de la sala"
  class="block w-full px-4 py-2 mb-4 border rounded shadow"
  required
/>
<button class="fixed bottom-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="crearMarcador()">Crear</button>
<button class="fixed right-4 top-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="Volver()">Volver</button>