
<input
  type="text"
  id="name"
  [(ngModel)]="nombrePelicula"
  name="name"
  placeholder="Introduce el nombre de la pelicula"
  class="block w-full px-4 py-2 mb-4 border rounded shadow"
  required
/>
<app-subir-imagenes ></app-subir-imagenes>
<button class="fixed bottom-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="crearMarcador()">Crear Marcador</button>
<button class="fixed right-4 top-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="Volver()">Volver</button>